// Solarized Dark Theme
// Official colors from https://ethanschoonover.com/solarized/
@use '@lucas-labs/lui-micro' as lui;
@use './_utils/color-utils' as c;
@use './theme' as theme;
@use './vars' as vars;

$is-dark: true;
$brand: #268bd2; // Solarized Blue

$colors: (
    primary: c.variants($brand),
    secondary: c.variants(#1a5b63),
    // Solarized (brighter for heatmap visibility)
    text: #839496,
    // Solarized Base0
    subtle: #657b83,
    // Solarized Base00
    palette:
        (
            'red': c.variants(#dc322f),
            // Solarized Red
            'orange': c.variants(#cb4b16),
            // Solarized Orange
            'yellow': c.variants(#b58900),
            // Solarized Yellow
            'olive': c.variants(#859900),
            // Solarized Green (olive-ish)
            'green': c.variants(#859900),
            // Solarized Green
            'teal': c.variants(#2aa198),
            // Solarized Cyan
            'blue': c.variants(#268bd2),
            // Solarized Blue
            'violet': c.variants(#6c71c4),
            // Solarized Violet
            'purple': c.variants(#d33682),
            // Solarized Magenta
            'pink': c.variants(#d33682),
            // Solarized Magenta
            'brown': c.variants(#cb4b16),
            // Solarized Orange
            'black': c.variants(#002b36),
            // Solarized Base03
            'white': c.variants(#fdf6e3),
            // Solarized Base3
        ),
    elevation: (
        '1': #002b36,
        // Solarized Base03 - Darkest
        '2': #073642,
        // Solarized Base02
        '3': #0a3d47,
        '4': #0d444c,
        '5': #134f58,
        '6': #1a5b63,
        '7': #2a6b73,
        '8': #3a7b83,
        '9': #586e75,
        // Solarized Base01
        '10': #657b83,
        // Solarized Base00
        '11': #839496,
        // Solarized Base0
        '12': #93a1a1,
        // Solarized Base1
    ),
);

// init lui-micro, css-vars only (no reboot, no basic)
@include lui.init(
    $theme: (
        colors: $colors,
        variables: vars.$variables,
    ),
    $options: (
        reboot: false,
        basic: false,
        fg-var-name: 'text',
        bg-var-name: 'elevation/1',
    )
);

@include theme.make-theme($is-dark);
